@font-face {
  font-family: "iconfont"; /* Project id 4484239 */
  src: url('//at.alicdn.com/t/c/font_4484239_v74yq1aurt.woff2?t=1711519401184') format('woff2'),
       url('//at.alicdn.com/t/c/font_4484239_v74yq1aurt.woff?t=1711519401184') format('woff'),
       url('//at.alicdn.com/t/c/font_4484239_v74yq1aurt.ttf?t=1711519401184') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili1:before {
  content: "\eb78";
  font-size: 24px;
}

.icon-github:before {
  content: "\e600";
  font-size: 24px;
}

.icon-bilibili:before {
  content: "\e601";
  font-size: 24px;
}

